{% extends '::base.html.twig' %}

{% block title %} Productos {% endblock %}
{% block body %}
    <h1>Productos</h1>
    {% for producto in producto %}

        <tr>
            <td>{{ producto.id }}</td> <br>
            <b>Nombre:</b> <td>{{ producto.Nombre }}</td> <br>
            <b>Tipo:</b> <br> <td>{{ producto.Tipo }}</td> <br>
            <b>Descripcion:</b> <br> <td>{{ producto.Descripcion }}</td> <br>
            <b>Autor:</b> <br> <td>{{ producto.Autor }}</td> <br>
            <td>{{ producto.createdAt|date('d/m/Y H:i:s') }}</td> <br>
            <td>{{ producto.updatedAt|date('d/m/Y H:i:s') }}</td> <br>
            <td><a href="{{ path('app_producto_Actualizar', {'id': producto.id}) }}">Actualizar</a> </td>
            <td><a href="{{ path('app_producto_Eliminar', {'id': producto.id}) }}">Eliminar</a> </td> <br>
        </tr>
    {% endfor %}

    <div>
        <a href="{{ path('app_producto_Añadir') }}">Nuevo producto</a>
    </div>
{% endblock %}